﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-danger">@Model.Status</h1>

        @if (Model.Status == "Unauthorized Access")
        {
            <div class="alert alert-danger mt-4">
                <p>
                    <strong>Reason:</strong> The current user does not have the necessary access rights to perform the requested action on the selected resources.
                </p>
                <p>@Model.ErrorMessage</p>
                <p>@Model.SubErrorMessage</p>
                <p>
                    Please contact the website's security administrator via {{ config.Security.ContactEmail }} for assistance or adjust your permissions.
                </p>
            </div>

            <p class="mt-4">
                <a href="/">Return to the homepage</a>
            </p>
        }

        @if (Model.Status == "Privacy Exception")
        {
            <div class="alert alert-danger mt-4">
                <p>
                    <strong>Reason:</strong> The current user does not have the necessary ownerships and consent to perform the requested action on the selected resources.
                </p>
                <p>@Model.ErrorMessage</p>
                <p>@Model.SubErrorMessage</p>
                <p>
                    Please contact the website's privacy administrator via {{ config.Privacy.ContactEmail }} for assistance or adjust your privacy preferences.
                </p>
            </div>

            <p class="mt-4">
                <a href="/Privacy">Return to Privacy Reference</a>
            </p>
            <p class="mt-4">
                <a href="/">Return to the Homepage</a>
            </p>
        }

        @if (Model.Status == "Internal Error")
        {
            <div class="alert alert-danger mt-4">
                <p>@Model.ErrorMessage</p>
                <p>@Model.SubErrorMessage</p>
                <p>
                    Please try again later or contact our support team if the problem persists.
                </p>
            </div>

            <p class="mt-4">
                <a href="/Privacy">Return to the privacy reference page.</a>
            </p>
            <p class="mt-4">
                <a href="/">Return to the Homepage</a>
            </p>
        }
    </div>
</body>
</html>