﻿@model IEnumerable<{{project}}.Models.Policy>

@using Microsoft.AspNetCore.Identity
@using {{project}}.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Privacy Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
#privacyContent {
    background-color: rgba(0, 0, 0, 0.05); 
    padding: 15px; 
    border-radius: 5px; 
}
</style>

<div class="container mt-5">

    <div class="table-responsive">
        <table id="declaredPurposesTbl" class="table" cellspacing="0" width="100%">
            <thead class="thead-light">
                <tr>
                    <th>Policy</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            We will use your @(item.data) information for the purpose of
                            @Html.DisplayFor(modelItem => item.purpose.purpose).
                        </td>
                        <td>
                            @if (item.decision)
                            {
                                using (Html.BeginForm("Revoke", "Privacy", item, FormMethod.Post))
                                {
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <button type="submit" class="btn btn-danger">
                                            Revoke
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-danger" disabled>
                                            Revoke
                                        </button>
                                    }
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("Accept", "Privacy", item, FormMethod.Post))
                                {
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <button type="submit" class="btn btn-success">
                                            Accept
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success" disabled>
                                            Accept
                                        </button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <form class="form-inline mt-3" asp-controller="CollectConsent">
        <button class="btn btn-primary" type="submit" asp-action="Return">Return</button>
    </form>

    <div class="dropdown mt-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="collapse" data-target="#privacyContent" aria-expanded="false">
            Read Privacy Notice
        </button>
        <div id="privacyContent" class="collapse mt-3">
            <h5>Privacy Notice</h5>
            <p>
                Welcome to our {{project}} website! Your privacy is important to us, and we are committed to being transparent about how we collect, use, and protect your personal information. This privacy notice outlines our data processing practices and your choices when it comes to your personal data.
            </p>

            <p><strong>What is a Privacy Notice?</strong></p>
            <p>
                Our privacy notice is designed to inform you about the types of personal data we collect, the purposes for which we use it, and your rights regarding your data. By providing this information, we aim to ensure that you understand how your personal information is being used and to give you control over your data.
            </p>

            <p><strong>What Information Do We Collect?</strong></p>
            <p>
                We collect certain types of information when you interact with our website. This can include:
            </p>
            <ul>
                <li>Contact information, such as your name and email address</li>
                <li>Usage data, such as pages visited and interactions on the site</li>
                <li>Consent preferences, such as whether you've accepted or revoked specific data usage purposes</li>
            </ul>

            <p><strong>Why Do We Collect Your Information?</strong></p>
            <p>
                We collect your information to provide you with a better experience on our website and to offer relevant content and services. Some of the reasons we collect data include:
            </p>
            <ul>
                <li>Personalizing your experience by showing you content tailored to your interests</li>
                <li>Analyzing site usage to improve our website's performance and user experience</li>
                <li>Obtaining your consent for specific data processing activities</li>
            </ul>

            <p><strong>Your Choices and Rights</strong></p>
            <p>
                We believe in giving you control over your data. You have the right to:
            </p>
            <ul>
                <li>Access the personal information we hold about you</li>
                <li>Request corrections to inaccurate or incomplete data</li>
                <li>Withdraw your consent for specific data processing activities</li>
                <li>Ask for the deletion of your personal information (subject to legal requirements)</li>
            </ul>

            <p><strong>Managing Your Privacy Preferences</strong></p>
            <p>
                On this page, you can review and manage your privacy preferences. You can accept or revoke your consent for specific data processing purposes based on your preferences. Please note that revoking consent might impact your experience on our website.
            </p>

            <p><strong>Contact Us</strong></p>
            <p>
                If you have any questions or concerns about our privacy notice or how we handle your data, please don't hesitate to contact our privacy team at {{ config.Privacy.ContactEmail }}.
            </p>
            <p>
                Your privacy matters to us, and we are committed to safeguarding your personal information while providing you with a seamless and engaging online experience.
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
