{% extends "template.html" %}
{% block main %}
<h5 class="card-header">Privacy notice</h5>
<div class="card-body">
    <label for="declaredPurposesTbl" class="form-label">Declared purposes</label>
    <div style="overflow: scroll; height: 222px;"> 
        <table id="declaredPurposesTbl" class="table table-striped table-bordered table-hover table-sm table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Policy</th>
            <th>Action&nbsp&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for p,a,r,d,c in model %}
            <tr>
            <td>We use fields {{ a }} of your {{ r }} personal data for the purpose of {{ p.name }}
            if {{ d }} </td>
            <td>
                {% if c != None %}
                <a href="{{ url_for('remove_consent', id=c.id) }}"><input type="submit" value="Revoke" class="btn btn-secondary"></a>
                {% else %}
                <a href="{{ url_for('add_consent', pd=r, p=p.name) }}"><input type="submit" value="Allow" class="btn btn-primary"></a>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
