<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/static/css/style.css">
        
    <title>{{projectname}}</title>
  </head>
  <body>
    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          {{projectname}}
        </a>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div class="card">
        {% raw %}
	        {% block main %}{% endblock %}
          </div>
          <br/>
          <div class="list-group list-group-flush">
            {% if security_violation %}
            <span class="badge bg-danger">{{ msg }}</span>
            {% endif %}  
        {% endraw %}  
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
